
<sly data-sly-test="${wcmmode.edit}"> ${component.title}</sly>

 <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s" style="background:linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url(${properties.fileReference @context='unsafe'}) center center no-repeat">
        <div class="container text-center py-5">
            <h1 class="display-2 text-white mb-4 animated slideInDown">About Us</h1>

<section data-sly-resource="${'path' @ resourceType='myproject/components/breadcrumb'}"></section>

        </div>
    </div>
    <!-- Page Header End -->
